# Terraform 디렉토리 및 상태/변수 파일 무시
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate*
**/terraform.tfvars

# bootstrap 디렉토리 내 캐시 무시
bootstrap/
!bootstrap/*.tf        # bootstrap 내 *.tf 파일은 추적하고
!bootstrap/*.tfvars    # .tfvars도 필요한 경우만 추적
